* {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(41, 41, 41);
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  display: flex;
}

.header {
  margin: 0;
  background-color: rgb(180, 132, 0);
  text-align: center;
  color: rgb(224, 224, 224);
}

#home {
  font-weight: bold;
  text-decoration: none;
  color: rgb(185, 137, 3);
}

footer {
  background-color: rgb(216, 216, 216);
  text-align: center;
  padding: 8px;
}

/* SIDEBAR */

.sidebar {
  background-color: rgb(102, 118, 162); 
  min-width: 200px;
  display: flex;
  justify-content: center;
}

.sidebar ol {
  list-style-type: none;
  padding: 0;
}

.sidebar a {
  text-decoration: none;
  color:rgb(224, 224, 224);
  font-size: 18px;
}